ipykernel==6.29.5 # para usar o jupyter notebook
matplotlib==3.10.1
seaborn==0.13.2
plotly==6.7.0
boto3==1.43.2 # para usar o AWS S3
imbalanced-learn==0.13.0
lazypredict==0.3.0
lightgbm==4.6.0
joblib==1.5.0
streamlit==1.45.0
pandas==2.2.3
numpy==2.4.3
scikit-learn==1.6.1
nbformat>=4.2.0 # necessario para o plotly funcionar no jupyter notebook
